{{# partial "titulo" }}	
	<title>¿Que Jugamos?</title>
{{/partial}}
		
{{# partial "contenido" }}	  
<div class="jumbotron">
  <h1>Bienvenido. Armá tu equipo</h1>
</div>	

<div class="text-center">
  <a class="btn btn-primary"   href="/generar">Generar</a>
</div>


{{/partial}}
				
{{> layout.hbs }}